@tailwind base;
/* Write your global styles here, in PostCSS syntax */
#svelte {
	@apply grid grid-cols-1 gap-10 text-base lg:text-xl p-4 max-w-2xl mx-auto;
}

h1 {
	@apply text-5xl font-semibold;
}

h2 {
	@apply text-4xl font-semibold;
}
@tailwind components;
@tailwind utilities;
